@page
@model ScoreKeeperRazorPagesUI.Pages.Players.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerStats.GamesPlayed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerStats.GamesPlayed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerStats.GamesWon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerStats.GamesWon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerStats.HighestGameScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerStats.HighestGameScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Player.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
