@page
@model ScoreKeeperRazorPagesUI.Pages.Game.SelectThreePlayersModel
@{
     ViewData["Title"] = "Play 3";
}

<div class="text-center jumbotron bg-info p-3 mb-0 text-light"  >
    <h1 class="display-5">SCOREKEEPER</h1>
</div>

<div class="container pb-2">
<div class="row pb-2">


    <div class="col-md-12" style="background-color: #bee5eb;">
        <form method="post">
        <h2 style="color: #17a2b8" class="pt-3 pb-1 text-center">Three Users</h2>
        <hr />
          <select class="form-control w-50 mb-2 offset-3" asp-for="@Model.Player1.Name">
            <option value="" selected disabled hidden>Select User 1</option>
            @foreach(var player in @Model.Players)
            {
                <option>@player.Name</option>
            }
            
          </select>

          <select class="form-control w-50 mb-2 offset-3" asp-for="@Model.Player2.Name">
            <option value="" selected disabled hidden>Select User 2</option>
            @foreach(var player in @Model.Players)
            {
                <option>@player.Name</option>
            }
          </select>

           <select class="form-control w-50 mb-2 offset-3" asp-for="@Model.Player3.Name">
            <option value="" selected disabled hidden>Select User 3</option>
            @foreach(var player in @Model.Players)
            {
                <option>@player.Name</option>
            }
          </select>
          <div>
                <input type="submit" value="Start" class="btn btn-info mb-2 offset-3" />
                <span asp-validation-for="@Model.Player1.Name" class="error text-danger"></span>
          </div>
          </form>
    </div>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

