@page
@model ScoreKeeperRazorPagesUI.Pages.Game.SelectGameModel
@{
    ViewData["Title"] = "Select Game";
}

<h1>Select Game</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="TwoPlayers">
        <h2>Two Players</h2>
          <select class="form-control mb-2" asp-for="@Model.Player1.Name">
            <option value="" selected disabled hidden>Select Player 1</option>
            <option>@Model.Players[0].Name</option>
            <option>@Model.Players[1].Name</option>
            <option>@Model.Players[2].Name</option>
            <option>@Model.Players[3].Name</option>
            <option>@Model.Players[4].Name</option>
          </select>
          <select class="form-control mb-2" asp-for="@Model.Player2.Name">
            <option value="" selected disabled hidden>Select Player 2</option>
            <option>@Model.Players[0].Name</option>
            <option>@Model.Players[1].Name</option>
            <option>@Model.Players[2].Name</option>
            <option>@Model.Players[3].Name</option>
            <option>@Model.Players[4].Name</option>
          </select>
          <div>
                <input type="submit" value="Start" class="btn btn-primary" />
          </div>
          </form>
    </div>

  <div class="col-md-4">
       <form method="post" asp-page-handler="ThreePlayers">
        <h2>Three Players</h2>
          <select class="form-control mb-2" asp-for="@Model.Player1.Name">
              <option value="" selected disabled hidden>Select Player 1</option>
            <option>@Model.Players[0].Name</option>
            <option>@Model.Players[1].Name</option>
            <option>@Model.Players[2].Name</option>
            <option>@Model.Players[3].Name</option>
            <option>@Model.Players[4].Name</option>
          </select>
          <select class="form-control mb-2" asp-for="@Model.Player2.Name">
              <option value="" selected disabled hidden>Select Player 2</option>
            <option>@Model.Players[0].Name</option>
            <option>@Model.Players[1].Name</option>
            <option>@Model.Players[2].Name</option>
            <option>@Model.Players[3].Name</option>
            <option>@Model.Players[4].Name</option>
          </select>
          <select class="form-control mb-2" asp-for="@Model.Player3.Name">
              <option value="" selected disabled hidden>Select Player 3</option>
            <option>@Model.Players[0].Name</option>
            <option>@Model.Players[1].Name</option>
            <option>@Model.Players[2].Name</option>
            <option>@Model.Players[3].Name</option>
            <option>@Model.Players[4].Name</option>
          </select>
          <div>
                <input type="submit" value="Start" class="btn btn-primary" />
          </div>
          </form>>
    </div>

      <div class="col-md-4">
           <form method="post" asp-page-handler="FourPlayers">
        <h2>Four Players</h2>
          <select class="form-control mb-2" asp-for="@Model.Player1.Name">
              <option value="" selected disabled hidden>Select Player 1</option>
            <option>@Model.Players[0].Name</option>
            <option>@Model.Players[1].Name</option>
            <option>@Model.Players[2].Name</option>
            <option>@Model.Players[3].Name</option>
            <option>@Model.Players[4].Name</option>
          </select>
          <select class="form-control mb-2" asp-for="@Model.Player2.Name">
              <option value="" selected disabled hidden>Select Player 2</option>
            <option>@Model.Players[0].Name</option>
            <option>@Model.Players[1].Name</option>
            <option>@Model.Players[2].Name</option>
            <option>@Model.Players[3].Name</option>
            <option>@Model.Players[4].Name</option>
          </select>
          <select class="form-control mb-2" asp-for="@Model.Player3.Name">
              <option value="" selected disabled hidden>Select Player 3</option>
            <option>@Model.Players[0].Name</option>
            <option>@Model.Players[1].Name</option>
            <option>@Model.Players[2].Name</option>
            <option>@Model.Players[3].Name</option>
            <option>@Model.Players[4].Name</option>
          </select>
           <select class="form-control mb-2" asp-for="@Model.Player4.Name">
               <option value="" selected disabled hidden>Select Player 4</option>
            <option>@Model.Players[0].Name</option>
            <option>@Model.Players[1].Name</option>
            <option>@Model.Players[2].Name</option>
            <option>@Model.Players[3].Name</option>
            <option>@Model.Players[4].Name</option>
          </select>
          <div>
                <input type="submit" value="Start" class="btn btn-primary" />
          </div>
          </form>>
    </div>
</div>
<div>
    <a asp-page="Index">See All Players</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

